.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App {
  /* display: flex; */
  justify-content: space-around;
  padding: 20px;
}

.block {
  /* width: 200px; */
  padding: 10px;
  border: 1px solid #ccc;
  color: blue;
  background-color: #007D88;
  color: black;
}

.block > h2 {
  margin-top: 0;
}

.block > div {
  margin: 5px 0;
  padding: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
}
.drag h1{
  text-align: center;
}
